@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #1d1d1d;

  font-family: "Abhaya Libre", serif, ui-serif, Georgia, Cambria,
    "Times New Roman", Times, serif;

  color: var(--text-color);
}

.bg-gridWhite {
  background-image: url("./assets/images/grid-white-bg.png");
  background-repeat: repeat;
  max-width: 100%;
}

button {
  position: relative;
}

.add-icon::before,
.library-icon::before,
.read-icon::before,
.edit-icon::before,
.trash-icon::before {
  content: "";
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 20px;
  margin-right: 0.5em;
}

.add-icon::before {
  background-image: url("./assets/icons/add.svg");
}

.read-icon::before {
  background-image: url("./assets/icons/read.svg");
}
.library-icon::before {
  background-image: url("./assets/icons/library.svg");
}
.edit-icon::before {
  background-image: url("./assets/icons/edit-icon.svg");
}
.trash-icon::before {
  background-image: url("./assets/icons/trash.svg");
}

.note-contents-preview {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7; /* number of lines to show */
  line-clamp: 7;
  -webkit-box-orient: vertical;
  color: var(--light-shade);
}

.droppable {
  border: transparent;
  outline: 3px solid var(--light-shade);
  outline-style: dotted;
  transition: all 50ms ease-in-out;
}

.dropped {
  transition: all 50ms ease-in-out;
  border: transparent;
  outline: 3px solid red;
  outline-style: dotted;
}
.ql-editor {
  font-family: "Abhaya Libre", serif, ui-serif, Georgia, Cambria,
    "Times New Roman", Times, serif;
  font-size: 1rem;
}
